#
# Symfony 2 related
#

# cache, logs, etc
#app/bootstrap.php.cache
#app/bootstrap_cache.php.cache
app/cache/*
app/logs/*
cache/twig/*
composer.lock
# vendor
vendor/*

# bundle static
web/bundles/*

# doctrine entities generation backup
*.php~

# environment sensitive
web/ckeditor
#web/.htaccess               # see web/.htaccess.dist
#web/app.php                 # see web/app.php.dist
#web/app_dev.php             # see web/app_dev.php.dist
#app/config/parameters.ini   # see app/config/parameters.ini.dist

#
# OS garbage, Editors, IDEs, etc
#
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
.idea
*.idea/** 
.rsync_cache
.rsync_cache/**


/web/bundles/
/web/banners/
#/web/images/
/web/media/
/web/uploads/
/app/cache/*
/app/logs/*
/web/js/*
/web/css/*
/vendor/
/.rsync_cache/
/.idea/
/logs/
