<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>Silex File Upload Example</title>
</head>
<body>
{{message}}
    <form action="" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>File Upload</legend>
            {{ form_widget(form) }}
        </fieldset>
        <input type="submit" name="Upload File" />
</body>
</html>